body{
    font-size: 12px;
    font-family:Arial, Georgia, "Times New Roman", Times, serif;
    color: #555;
    text-align: center;
    background-color: #e2e2e2;
}
h6{
    margin:0;
    font-size:12px;
}
#calculator {
    width: 240px;
    height: auto;
    overflow:hidden;
    margin:10px auto;
    border:#fff 1px solid;
    padding-bottom:10px;
    background-color:#f2f2f2;
}
#calculator div {
    clear:both;
}
#calculator ul {
    padding:0;
    margin: 5px 14px;
    border: 1px solid #FFFFFF;
    height:auto;
    overflow: hidden;
}
#calculator li {
    list-style: none;
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px;
    display: inline;
    line-height: 32px;
    font-size: 14px;
    background-color: #eaeaea;
}
#calculator li.tool{
    background-color:#e2e2e2;
}
#calculator li:hover{
    background-color:#f9f9f9;
    cursor:pointer;
}
#calculator li:active{
    background-color:#fc0;
    cursor:pointer;
}
#calculator li.tool:active{
    background-color:#d8e8ff;
    cursor:pointer;
}
#calcu-head {
    text-align:left;
    padding:10px 15px 5px;
}
span.imyeah {
    float:right;
    color:#ccc;
}
span.imyeah a{
    color:#ccc;
}
.screen{
    width:200px;
    height:24px;
    line-height:24px;
    padding:4px;
    border:#e6e6e6 1px solid;
    border-bottom:#f2f2f2 1px solid;
    border-right:#f2f2f2 1px solid;
    margin:10px auto;
    direction:ltr;
    text-align:right;
    font-size:16px;
    color:#999;
}
#calcu-foot{
    text-align:left;
    padding:10px 15px 5px;
    height:auto;
    overflow:hidden;
}
span#note{
    float:left;
    width:210px;
    height:auto;
    overflow:hidden;
    color:red;
}
span.welcome{
    clear:both;
    color:#999;
}
span.welcome a{
    float:right;
    color:#999;
}